@{
    ViewData["Title"] = "NotFound";
}


<div class="error-container">
    <h1>Ooooooooopppppps...</h1>
    <h1>404</h1>
    <p>@ViewBag.ErrorMessage</p>
    <a class="back" href="/">Ana Sayfaya Git</a>
</div>